.msd_ducks {
    width: inherit;
    height: inherit;
    padding: 10px;
}

.col-sm {
    padding: 10px;
    padding-left: 10px;
}

.col-sm-3 {
    text-align: right;
    padding-top: 20px;
    font-family: monospace;
}
